@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login {
  margin: auto;
  display: flex;
  animation: show 0.5s;
  width: 30%;
}

.form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
  padding: 25px;
  margin: auto;
  width: 100%;
}

.formName {
  display: flex;
  background-color: #3f51b5;
  border-radius: 5px;
  padding: 10px;
}

.formName span {
  margin: auto;
  font-size: 35px;
  color: #fff;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.formControl label {
  margin: 10px 0px;
  font-size: 20px;
  font-weight: bold;
  color: #424242;
}

.formControl input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #3f51b5;
  background-color: #ffffff;
}

.formActions {
  display: flex;
  margin-top: 25px;
  width: 25%;
}

.formActions button {
  margin-right: 25px;
}
