/* purple: #3f51b5
   yellow: #F18805
   black : #201E1F
   white : #FFFFFF
   red   : #BC4B51
*/

/* 
  Car/Bike
  Travel
  Food Order
  Groceries
  Bill
  Recharge
  House/Rent
  Clothes and Hygene
  Monthly Memberships
  Other
*/
