.button {
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  transition: 0.5s;
}

.purple {
  background-color: #3f51b5;
  color: #fff;
  border: 1px solid #3f51b5;
}

.purple:hover {
  background-color: #242e64;
  border-color: #242e64;
  color: rgb(177, 177, 177);
}

.grey {
  background-color: #555;
  color: #fff;
  border: 1px solid #555;
}

.grey:hover {
  background-color: #222;
  border-color: #222;
  color: rgb(177, 177, 177);
}

.red {
  background-color: #bc4b51;
  color: #fff;
  border: 1px solid #bc4b51;
}

.red:hover {
  background-color: #762f32;
  border-color: #762f32;
  color: rgb(177, 177, 177);
}
