.user {
  display: flex;
}

.user span {
  color: white;
}

.user img {
  width: 20px;
  margin: auto;
  margin-right: 10px;
}

@media (max-width: 700px) {
  .user span {
    color: #201e1f;
  }

  .user img {
    background-color: #201e1f;
    margin: 0;
    margin-right: 5px;
  }
}
